body{
    font-family: poppin, sans-serif;
    color:black;
    text-align: center;
    padding: 20px 0;
    background: #f8f9fa;
}
#output{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
    min-height: 100px;
}